{% extends "base.html.twig" %}

{% block main %}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Connection :
                </h3>
                <form action="{{ path('security_login')}}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mail... " required name="_username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mot de passe... " required name="_password" required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Connexion"/>
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Mot de passe oublié</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    {{ parent()}}|Connexion
{% endblock %}
