{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}| Welcome!{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mt-4">Bienvenue sur Sortir.com</h1>
        <p>Nous avons voulu créer pour vous, stagiaires actifs et anciens stagiaires, une plateforme web vous permettant d’organiser des sorties entre vous. La plateforme est une plateforme privée dont l’inscription sera gérée par un ou plusieurs administrateurs. Les sorties ainsi que les participants sont rattachés à un campus pour permettre une organisation géographique des sorties.</p>
        <p>Nous vous souhaitons de bonnes rencontres et de bonnes sorties extra Campus ! </p>
    </div>
{% endblock %}
