{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}| Welcome!{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mt-4">Page pricipale des sorties PAGE 2</h1>
    </div>
{% endblock %}
