p{
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    color: #DDDDDD;
}
body{
    background-image: url("../img/silhouette-photography-of-group-of-people-jumping-during-1000445.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    font-size: 20px;
}
.footer{
    font-size: 20px;
}
.flash{
    padding: 15px;
    padding-left: 150px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #DDDDDD;

}
#content section{
    width: 50%;
}

#content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;

}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;

}
#titreLogo{
    text-decoration: none;
    font-size: 30px;
}
.btn-success{
    font-size: 20px;
}
.date{
    width: 100%;
}
#date{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #DDDDDD;
    font-size: 20px;
}
#textHome{
    color: #DDDDDD;
}
h3{
    color: #DDDDDD;
}
#center{
    font-size: 20px;
}
th{
    font-weight: bold;
    font-size: 18px;
}


